# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Local env
.env
.venv
env/
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Chroma DBs
*.chroma/

# Uploaded temp files
*.pptx
*.txt
*.pkl

# Logs
*.log

# Models (if huge or optional)
models/
